# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# directories
/data
/catkin_ws/build
/catkin_ws/devel
/controlscripts/policy
/controlscripts/points
.idea
